*{
    margin: 0;
    padding: 0;
   }
   body{
    width:50%;
    margin-left: 400px;
    border: 1px solid black;
    
   }
    header{
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    nav span{
       margin: 10px;
       margin-left: 3px;
    }
    
    img{
        float: right;
        padding: 10px;
    }
    p{
        margin-top: 10px;
        margin-bottom: 20px;

    }
    nav {
        padding: 10px;
        border-bottom: 1px solid gray;
    }
    main{
        margin-left: 10px;
    }
    h3{
        border-bottom: 1px solid gray;
        padding: 5px;
    }
    .content{
        padding:20px
    }
    footer{
        font-size: 20px;
        color:black;
        font-weight: 300;
    }
    img:hover{
        cursor: pointer;
    }
    
